DOMAIN_NAME=localhost
WEBHOOK_URL=http://localhost:5678/
GENERIC_TIMEZONE=Asia/Kolkata
PROTOCOL=http
DATABASE_URL='postgresql://neondb_owner:...@ep-...aws.neon.tech/neondb?sslmode=require&channel_binding=require'


# sudo docker compose up -d
# sudo docker compose stop