DATABASE_URL='postgresql+asyncpg://neondb_owner:.......@ep-......aws.neon.tech/neondb?sslmode=require&channel_binding=require'
# uv run fastapi dev
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

FRONTEND_ORIGINS=http://localhost:3000
PORT=8000